<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Grouped Customer List</h2>
    </div>
    <div class="panel-body">
      <app-customers-list [tableData] = "cameronPhoneNos" [countryCode]="countryCode.CAMEROON" ></app-customers-list>
      <app-customers-list [tableData] = "ethiopiaPhoneNos" [countryCode]="countryCode.ETHIOPIA" ></app-customers-list>
      <app-customers-list [tableData] = "moroccoPhoneNos" [countryCode]="countryCode.MOROCCO" ></app-customers-list>
      <app-customers-list [tableData] = "mozambiquePhoneNos" [countryCode]="countryCode.MOZAMBIQUE" ></app-customers-list>
      <app-customers-list [tableData] = "ugandaPhoneNos" [countryCode]="countryCode.UGANDA" ></app-customers-list>
    </div>
  </div>



    
    